/*  #  Credit for the Construction of  #  */
/*  #  --- this CSS PAGE goes to  ---  #  */
/*  #  ---------  Andy Diaz  --------  #  */

body {
    background: url("pics/background.png");
}
#header{
    font-family: impact;
}
#nav{
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.NavLink{
    color: white;
}
#siteTitle{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#pageHeader{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
#content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#loginSquare{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 200px;
    border-radius: 5px;
}
#infoPic {
    float: left;
}
#footer{
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}