/*  #  Credit for the Construction of  #  */
/*  #  --- this CSS PAGE goes to  ---  #  */
/*  #  ---------  Andy Diaz  --------  #  */

body {
    background: url("pics/background.png");
}
.head{

}
#nav{
    font-family: impact;
}
#navbar{
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.NavLink{
    color: white;
}
#cartStuff{
    border-radius: 10px;
    background-color: white;
    width: 180px;
    margin-left: auto;
    float: right;
    text-align: center;
}
#profileID{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    float: left;
    margin-right: auto;
    width: 180px;
}
#siteTitle{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#pageHeader{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
#content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#loginSquare{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 200px;
    border-radius: 5px;
}
#searchResults{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: white;
}
#filterList{
    text-align: left;
    background-color: darkred;
    color: white;
}
#resultsList{
    text-align: left;
}
#infoPic {
    float: left;
}
#profileInfo{
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#footer{
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}